@page "/diagram"
@using Blazor.Diagrams.Components

@* @inherits Diagrams.Components.Diagram *@

<div class="diagram-container">
    <CascadingValue Value="Diagram" IsFixed="false">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>
